{extends "../@layout.latte"}
{block content}
    <div class="container-fluid">
        <h1>Faktury</h1>
        <a href="objednavky/faktury/nova"><button class="btn btn-success">Nová</button></a>
    </div>
{/block}