.wrapper{
  display: flex;
  flex-flow: row nowrap;
}
.pastel-logo{
  background-image: url("../images/pastel-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
}
.nav-side{
  display: flex;
  flex-flow: column;
}
.section-content{
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #7a7a7a;
}
.nav-top{
  min-height: 100px;
  border-bottom: 1px solid #7a7a7a;
}
