{block menu}
    <ul>
        {foreach $categories as $category}
            <li>
                {$category["category"]["name"]}
            </li>
            {if $category["subcategories"]}
                {include menu categories =>$category["subcategories"]}

            {/if}
        {/foreach}
    </ul>
{/block}