<!DOCTYPE html>
<html lang="cs-cz">

{include "head.latte"}

<body>
    <header>
        {include "nav.latte"}
    </header>
    <article>
        {include content}
    </article>
    {include "footer.latte"}
</body>

</html>