<!DOCTYPE html>
<html lang="cs-cz">

{include "head.latte"}

<body>
<main>
    <aside class="nav-side">
        {include "nav-side.latte"}
    </aside>
    <section>
        <header class="nav-top">
            {include "nav-side.latte"}
        </header>
        <article>
            {include content}
        </article>
    </section>
</main>
<footer>
    {include "footer.latte"}
</footer>
</body>

</html>