<!DOCTYPE html>
<html lang="cs-cz">

{include "head.latte"}

<body>
<div class="wrapper">
    <aside class="nav-side">
        <div class="pastel-logo"></div>
        {include "nav_side.latte"}
    </aside>
    <section class="section-content">
        <header class="nav-top">
            {include "nav_top.latte"}
        </header>
        {include content}
    </section>
</div>
<footer>
    {include "footer.latte"}
</footer>
</body>

</html>