<script src="www/scripts/ajax.js" ?v="{time()}" defer></script>
<script src="www/scripts/script.js" ?v="{time()}" defer></script>
{if $js}
    <script src="www/scripts/{{$js}.js?v={time()}" defer></script>
{/if}
<!-- Bootstrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous" async></script>
<!-- Nette forms-->
<script src="https://nette.github.io/resources/js/3/netteForms.min.js" async></script>
<!-- Axios ajax-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" async></script>